@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap') .fredoka-<class> {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" <width>;
}

body {
--color-link-bg-active: #f3f3f3;
--sidebar-color:#00000020;
}

body.dark-theme {
    --color-link-bg-active: #262626;
    --sidebar-color:#cfcfcf20;
}

div.maindashboard {
    transition: .3s;
    right: 0px;
    position: absolute;
    background-color: var(--color-link-bg-active);
    height: 100vh;
    width: calc(100% - 46px);
    border-top-left-radius: 8px;
}

* {
    body {
        font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';
    }

    transition: .2s;
}

body {
    margin: 0;
}

header {

    width: 100%;
    color: var(--color-grey-light);
    padding: 13px;


}

a {
    text-decoration: underline dotted 4px;
    color: var(--color-text-default);
    font-weight: bold;
}

a:hover {
    text-decoration: underline dotted 4px;
}



div.login {
    margin-top: 30px;
    padding-top: 20px;

    margin-left: 40%;
    transform: translateX(-50%);
    width: 60%;
    background-color: transparent;
    border-radius: 5px;
    color: var(--color-text-default);

}

select {
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: var(--color-primary-adaptive) 2px solid;
    color: var(--color-text-default);
    cursor: pointer;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

select:hover {
    background-color: var(--color-grey-light);
    color: var(--color-text-default);
}

select:active {

    border-bottom: 2px var(--color-text-default) solid;
    outline: none;
}

select:focus {
    outline: none;
}


option {
    background:var(--color-link-bg-active);
    color: var(--color-text-default);

}

button {
    padding-left: 20px !important;
    padding-right: 20px !important;
    
            transition: .2s;
    
}

div.alert {
    display: none;
    margin-top: 30px;
    padding: 20px;
    margin-left: 40%;
    transform: translateX(-50%);
    width: 60%;
    background-color: transparent;
    border-radius: 8px;
    color: var(--color-text-default);
    animation-duration: .3s;
    transition: .3s all;
}

div.dashboard {
    margin: 30px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    color: var(--color-text-default);
    display: none;


}

span.namegreet {
    color: #cfcfcf;
    font-size: 17px;
    padding: 10px;
}

span.namegreet:hover {
    color: #bee1ee;
}

div.block {
    width: calc(100%-20px);
    height: 100px;
    background-color: #00314250;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flexbox;
}

div.block:hover {
    background: #00314290;
}

span.noevents {
    color: var(--color-text-default);
    font-size: 13px;
}

html {
    /*background-image: linear-gradient(50deg, #2f768d08, #8ed7f0, var(--color-text-default));*/

    background: #202020;
    /*Fallback if url unsupported.*/
    /*background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

::selection {
    background-color: #000;
    color: #ffffff;
}

div.fullpage {

    position: absolute;
    z-index: -999;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    height: 60vh;
    width: 100%;



}

select,
button,
header {
    user-select: none;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Light');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Semilight');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Semibold');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.loader {
    display: none;
    width: fit-content;
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: var(--color-text-default);
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(var(--color-text-default) 0 0) 0 100%/0% 3px no-repeat;
    animation: l2 1.3s linear infinite;
}

.loader:before {
    content: "Loading..."
}

@keyframes l2 {
    to {
        background-size: 100% 2px;
    }
}

div.sidebar {
    position: absolute;
    left: 0px;
    top: 46px;
    padding-top: 10px;
    padding: 5px;
}

div.sidebar img:hover {
    background-color: #cfcfcf20;
    cursor: pointer;
    border-radius: 8px;
}
div.sidebar button{
    border: transparent 3px;
}
div.sidebar img:active {
    scale: 0.8;
    background-color: var(--color-grey-light);
}
 svg{
    position:absolute;
    width: 40px;
    left: 3px;
    cursor: pointer;
    bottom: 10px;
}
svg:hover{
    background-color: var(--sidebar-color);
    border-radius: 8px;
}
svg:active{
    scale: 0.8;
}
@media only screen and (max-width: 600px){
    iframe{
        display: none;
    
    }
}

iframe{
    border: none;
    position: absolute;
    bottom: 10px;
    right: 0px;
    
    
    z-index: 9999;
    background-color: transparent !important;
}
