@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap') .fredoka-<class> {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" <width>;
}

div.maindashboard {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    right: 0px;
    position: absolute;
    background-color: #272727;
    height: 100vh;
    width: calc(100% - 46px);
    border-top-left-radius: 13px;
}

* {
    body {
        font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';
    }

    transition: .2s;
}

body {
    margin: 0;

}

header {

    width: 100%;
    color: #cfcfcf;
    padding: 13px;


}

a {
    text-decoration: underline dotted 4px;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline dotted 4px;
}



div.login {
    margin-top: 30px;
    padding-top: 20px;
    
    margin-left: 40%;
    transform: translateX(-50%);
    width: 60%;
    background-color: transparent;
    border-radius: 5px;
    color: aliceblue;

}

select {
    padding: 10px;
    border-radius: 5px;
    background-color: #202020;
    outline: white 1px solid;
    border: transparent 1px solid;
    color: #cfcfcf;
    cursor: pointer;
    font-size: 15px;
    
}

select:hover {
    background-color: #272727;
    color: white;
}


option {
    background: #003142;
    color: #bee1ee;
}



button {
    margin-top: 30px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #FFFFFF15;
    color: white;
    transition-duration: 0s;
    cursor: pointer;
}

button:hover {
    outline: #00aced 3px solid;
    border: 1px solid transparent;
}

div.alert {
    display: none;
    margin-top: 30px;
    padding: 20px;
    margin-left: 40%;
    transform: translateX(-50%);
    width: 60%;
    background-color: transparent;
    border-radius: 8px;
    color: aliceblue;
    animation-duration: .3s;
    transition: .3s all;
}

div.dashboard {
    margin: 30px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    display: none;


}

span.namegreet {
    color: #cfcfcf;
    font-size: 17px;
    padding: 10px;
}

span.namegreet:hover {
    color: #bee1ee;
}

div.block {
    width: calc(100%-20px);
    height: 100px;
    background-color: #00314250;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flexbox;
}

div.block:hover {
    background: #00314290;
}

span.noevents {
    color: rgb(255, 255, 255);
    font-size: 13px;
}

html {
    /*background-image: linear-gradient(50deg, #2f768d08, #8ed7f0, white);*/

    background: #202020;
    /*Fallback if url unsupported.*/
    /*background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

::selection {
    background-color: #000;
    color: #ffffff;
}

div.fullpage {

    position: absolute;
    z-index: -999;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    height: 60vh;
    width: 100%;



}

select,
button,
header {
    user-select: none;
}

div.dashboard button {
    background-color: white;
    color: black;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Light');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Semilight');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Semibold');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.loader {
    display: none;
    width: fit-content;
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    color:white;
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(white 0 0) 0 100%/0% 3px no-repeat;
    animation: l2 1.3s linear infinite ;
}

.loader:before {
    content: "Loading..."
}

@keyframes l2 {
    to {
        background-size: 100% 2px;
    }
}
